@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Web Application</h1>
    <p>let's make bit more jokes in everyday life and lough a bit more.</a>.</p>
</div>
